* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Nunito", sans-serif;
  font-family: "Open Sans", sans-serif;
  font-family: "Poppins", sans-serif;
}

.myName {
  color: orange;
}
.btn {
  background-image: linear-gradient(red, yellow);
  color: black;
  padding: 5px 10px;
  border-radius: 5px;
  font-weight: bold;
  text-decoration: none;
}
.flexbolde {
  display: flex;
  margin-bottom: 150px;
}
.half-width {
  width: 50%;
  padding-left: 5%;
}
.half-width img {
  width: 80%;
}
.top-banner {
  background-image: url(./images/top-banner.png);
  background-repeat: no-repeat;
}
.botton-banner {
  background-image: url(./images/dream-bg.png);
  background-repeat: no-repeat;
  background-position: right;
}
.experince-items {
  width: 50%;
  padding: 5%;
  box-shadow: 10px 10px 30px gray;
  margin: 0% 5%;
}
.expriences {
  background-image: url(./images/exp-bg.png);
  background-repeat: no-repeat;
  background-position: left;
}
#borderleft {
  border-left: 5px solid;
  border-image: linear-gradient(yellow, red);
  border-image-slice: 1;
}
#borderright {
  border-left: 5px solid;
  border-image: linear-gradient(red, yellow);
  border-image-slice: 2;
}
